# Node modules
node_modules/

# Build
dist/

# VS Code settings
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MacOS
.DS_Store

# TypeScript cache
*.tsbuildinfo

# Optional: IDE-specific
.idea/
